@{
    ViewData["Title"] = "Home Page";
    var version = typeof(Program).Assembly.GetName().Version ?? new Version(0, 0, 0);
}

<div class="text-center">
    <h1 class="display-4">V @version.Major.@version.Minor.@version.Build</h1>
</div>