# Run from root
# the ./config/servicebusemulator_config.json file is expected to be on the remote server if using docker context
# remember to git pull the latest changes before running the docker-compose command from localhost using docker context to remote dockerhost computer, it uses the file from remote server, not the local file when using docker context

#  docker-compose -f .docker/docker-compose-azure.yml -p azure up -d
#  docker-compose -f .docker/docker-compose-azure.yml -p azure down

# volumes error: mounting to rootfs happens when 
# using a different docker context, remote to server and run docker-compose up from there

services:
  emulator:
    container_name: "servicebus-emulator"
    restart: unless-stopped
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    pull_policy: always
    volumes:
      - "./config/servicebusemulator_config.json:/ServiceBus_Emulator/ConfigFiles/Config.json"
    ports:
      - "5672:5672"  # AMQP protocol
      - "5300:5300"  # http://localhost:5300/health
    environment:
      SQL_SERVER: sqledge
      MSSQL_SA_PASSWORD: "Password123!"  # Password should be same as what is set for SQL Edge  
      ACCEPT_EULA: "Y"
      SQL_WAIT_INTERVAL: 15 # Optional: Time in seconds to wait for SQL to be ready (default is 15 seconds)
    depends_on:
      - sqledge

  sqledge:
    container_name: "sqledge"
    image: "mcr.microsoft.com/azure-sql-edge:latest"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Password123!" # To be filled by user as per policy : https://learn.microsoft.com/en-us/sql/relational-databases/security/strong-passwords?view=sql-server-linux-ver16 